body {
    background-color: #618685;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font: 700;
}

.main {
    background-color: #fefbd8;
    padding: 2%;
    padding-top: 1%;
    height: 95vh;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 4px;
    overflow: hidden;
}

.main h1 {
    background-color: #80ced6;
    font-size: 24px;
    padding: 1%;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.main h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
}

.left {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1%;
    width: 33%;
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
}

.content {
    width: 311px;
    height: 150px;
    border-color: #618685;
    border-radius: 4px;
}

.name {
    border-color: #618685;
    border-radius: 4px;
}

.mid form {
    margin: auto;
    display: inline-block;
}

.left img {
    height: 60%;
    width: auto;
}

.left p {
    margin: 0;
    padding: 0;
    background-color: #80ced6;
    color: white;
    font-weight: 800;
}

.right {
    background-color: #d5f4e6;
    width: 61.5%;
    float: right;
    padding: 1%;
    height: 80%;
    overflow: scroll;
}

.right p {
    backgorund-color: white;
}

.right ol {
    background-color: #fefbd8;
    height: 150px;
    overflow: scroll;
}

.search input {
    margin: 2px;
    width: 150px;
}
